<!DOCTYPE html>
<html>
  <head>
    <title>Fruit Stripe!</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href="http://fonts.googleapis.com/css?family=Alfa+Slab+One|Permanent+Marker|Nova+Mono|Monoton|Press+Start+2P|Bowlby+One+SC|Cedarville+Cursive" rel="stylesheet" type="text/css">
  </head>
  <!--
    If you want to change the background of the entire page add an img to the class quotes below!
  -->
  <body class="">
    <!--
      If you want to change the background of a second container add a new style here.
    Example:
    <div class="card-container stylename">
    -->
    <div class="">
      <!--
        This is a comment! It won't appear in the Browser.
        There are two divs on this page both with the class name "card"
        The first <div> is the front of the card
        The second <div> is the back of the card

        Note: Remember you can have more than one class name per tag!
        Just remember to put a space in between class names

        Example:
        <div class="container">

        or:
        <p class="red sans-serif center">Title</p>
      -->
      <div class="">
        <!--
          You can change the text inside the <h1> tags or add new HTML tags of your own!
        -->
        <h1 class="">Fruit Stripe Fanatic</h1>
      </div>
      <div class="">
        <!--
          You can change the text inside the <p> tags or add new HTML tags of your own!
        -->
        <p class=""></p>
      </div>
    </div>
    <script src="/static/js/jquery.js"></script>
    <!-- <script src="static/javascripts/card-flip.js"></script> -->
    <form action="/charge" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_zAzppDzHSLlDZOIUmwGhKrvs"
        data-image="static/img/fruitstripegum.jpg"
        data-name="Fruit Stripe Fanatic"
        data-description="($10.00)"
        data-amount="1000">
      </script>
    </form>
  </body>
</html>
